<launch>  

    <node type="rviz" name="project_rviz" pkg="rviz" args="-d $(find rviz_display)/rviz/project_display.rviz" output="screen"/>

    <node name="publish_image" pkg="rviz_display" type="publish_image" output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="quad_broadcaster" args="1 1 -0.05 0 0 3.1415 map quad 30"/>

</launch>