<launch>
  <node name = "base_serial_node" pkg = "rosserial_python" type = "serial_node.py">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="115200"/>
  </node>

  <node name="odometry" pkg="odometry" type="odometry_node" output="screen">
    <param name="active" value="true"/>
    <param name="publish_pose" value="false"/>
    <param name="publish_odom" value="true"/>
    <param name="publish_tf" value="true"/>

    <param name="frequency" value="100"/>
    <param name="init_pose_x" value="0"/>
    <param name="init_pose_y" value="0"/>
    <param name="init_pose_yaw" value="$(eval 0 * 3.1415 / 180.0)"/>
    <param name="cov_vx" value="0.00005"/>
    <param name="cov_vy" value="0.00005"/>
    <param name="cov_vyaw" value="0.00005"/>
  
    <param name="twist_topic" value="base_speed"/>
    <param name="odom_topic" value="odom"/>
    <param name="pose_topic" value="odom_pose"/>
    <param name="fixed_frame_id" value="odom"/>
    <param name="target_frame_id" value="base_footprint"/>
  </node>

  <node name="map_to_odom" pkg="tf2_ros" type="static_transform_publisher" args="1 0.4 0 1.5708 0 0 map odom"/>

</launch>
