<launch>
    <!-- main program -->
    <!-- <node name="main_node" pkg="main_program" type="main_tel2022" output="screen"/> -->

    <!-- start caller -->
    <node name="start_caller" pkg="main_program" type="bt_start_caller.py" output="screen"/>
    
    <!-- arm_move -->
    <include file="$(find arm_move)/launch/arm_move_project.launch"/>

    <!-- odometry -->
    <include file="$(find odometry)/launch/odometry_project.launch"/>
    
    <!-- fake_odom -->
    <!-- <include file="$(find fake_odom)/launch/fake_odom.launch"/> -->

    <!-- my_navigation -->
    <include file="$(find base_move)/launch/my_navigation_project.launch"/>

    <!-- tf2_transformListener -->
    <node name="base_link_to_map_transformListener" pkg="base_move" type="tf2_transformListener" output="screen"/>

</launch>