<launch>
    <node pkg="remote_control" type="remote_control_node" name="remote_control" output="screen">
        <param name="active" value="true"/>

        <param name="frequency" value="100"/>           <!-- [Hz] -->
        <param name="MAX_linear_speed" value="0.6"/>    <!-- [m/s] -->
        <param name="MAX_angular_speed" value="1.2"/>   <!-- [rad/s] -->
        <param name="arm_MAX_XYspeed" value="100.0"/>   <!-- [mm/s] -->
        <param name="arm_MAX_Zspeed" value="50.0"/>     <!-- [mm/s] -->
        <param name="X_max" value="516.0"/>             <!-- [mm] -->
        <param name="X_min" value="-281.0"/>            <!-- [mm] -->
        <param name="Y_max" value="516.0"/>             <!-- [mm] -->
        <param name="Y_min" value="-516.0"/>            <!-- [mm] -->
        <param name="Z_max" value="119.0"/>             <!-- [mm] -->
        <param name="Z_min" value="-58.0"/>             <!-- [mm] -->

        <!-- init_arm (Home) -->
        <param name="init_arm_x" value="128.0"/>    <!-- [mm] -->
        <param name="init_arm_y" value="17.0"/>
        <param name="init_arm_z" value="10.0"/>

        <!-- storage 1 -->
        <param name="storage1_x" value="84.0"/>     <!-- [mm] -->
        <param name="storage1_y" value="-99.0"/>
        <param name="storage1_z" value="74.0"/>

        <!-- storage 2 -->
        <param name="storage2_x" value="84.0"/>     <!-- [mm] -->
        <param name="storage2_y" value="-199.0"/>
        <param name="storage2_z" value="74.0"/>

        <!-- put square -->
        <param name="putSquare_x" value="0.0"/>       <!-- [mm] -->
        <param name="putSquare_y" value="150.0"/>
        <param name="putSquare_z" value="50.0"/>
  
        <param name="joy_topic" value="/nlink1/ds5_joy"/>   <!-- Sub [sensor_msgs::Joy] -->
        <param name="twist_topic" value="/cmd_vel"/>        <!-- Pub [geometry_msgs::Twist] -->
        <param name="point_topic" value="/arm_goal"/>       <!-- Pub [geometry_msgs::Point] -->
        <param name="suck_topic" value="/suck"/>            <!-- Pub [std_msgs::Bool] -->
    </node>

    <group ns="nlink1">
        <node pkg="nlink_parser" type="linktrack" name="linktrack0" output="screen">
            <param name="port_name" value="/dev/USB0"/>
            <param name="baud_rate" value="921600"/>
        </node>
        <node pkg="remote_control" type="joy_deserialization" name="joy_deserialization" output="screen">
            <remap from="node_frame" to="nlink_linktrack_nodeframe0"/>
        </node>
    </group>

    <!-- rosserial for base -->
    <node name = "base_serial_node" pkg = "rosserial_python" type = "serial_node.py" output="screen">
        <param name="port" value="/dev/USB2"/>
        <param name="baud" value="115200"/>
    </node>

    <!-- rosserial for SCARA -->
    <node name = "arm_serial_node" pkg = "rosserial_python" type = "serial_node.py" output="screen">
        <param name="port" value="/dev/USB1"/>
        <param name="baud" value="115200"/>
    </node>
    
</launch>